.container {
    background-color: #fff;
    padding: 10px;
    margin: 30px;
    border-top: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p {
    text-align: center;
    justify-content: center;
    color: #887f7f;
}