<div class="master_page">
    <div class="img_logo">
        <img src="../../../../assets/logo_copilot.Default" width="50px" alt="Imagem Copilot">
    </div>
    <h1 class="title_cabecalho">Scrum Copilot</h1>
    <div style="right: 3%; position: absolute; color: #fff;">
        <span>Usuário Logado: {{ nome_usuario }}</span>
    </div>
</div>

<div class="container">
    <div class="box_navigation">
        <ul>
            <li>
                <a routerLink="/telaDashboard">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/telaSobre">
                    <span class="icon"><i class="fa-solid fa-users"></i></span>
                    <span class="title">Sobre Nós</span>

                </a>
            </li>
            <li>
                <a routerLink="/telaPrincipal">
                    <span class="icon"><i class="fa-sharp fa-solid fa-paste"></i></span>
                    <span class="title">Criar Metas</span>
                </a>
            </li>
            <li>
                <a href="/validarEmail">
                    <span class="icon"><i class="fa-solid fa-gears"></i></span>
                    <span class="title">Resetar senha</span>
                </a>
            </li>
            <li>
                <a routerLink="/home">
                    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span class="title">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</div>