<app-tela-navigation></app-tela-navigation>


<div class="tela-gerenciamento">
  <h2 class="title">Gerenciamento de Etapas</h2>
  <div class="input-box">
    <input type="text" name="search" [(ngModel)]="searchText" (ngModelChange)="applyFilter()"
        placeholder="Buscar metas">
    <span class="icon_input"><i class="fa-solid fa-magnifying-glass"></i></span>
</div>

  <div class="button_meta">
    <button (click)="openPopup()">Criar Etapa</button>
  </div>

  <div class="popup-container" *ngIf="isPopupVisible">
    <div class="box_container">
      <div class="container">
        <span class="close-button" (click)="closePopup()"><i class="fa-solid fa-circle-xmark"></i></span>
        <h2 class="title">Etapa</h2>
        <form [formGroup]="meuFormulario" (ngSubmit)="submitForm()">
          <div class="form-row">
            <div class="form-group">
              <label for="meta">Etapa:</label>
              <input type="text" id="meta" formControlName="titulo_etapa">
            </div>
            <div class="form-group">
              <label for="descricaoMeta">Descrição:</label>
              <input type="text" id="descricaoMeta" formControlName="descricao">
            </div>
            <div class="form-group">
              <label for="dataFim">Data Fim:</label>
              <input type="date" id="dataFim" formControlName="data_conclusao_prevista">
            </div>
            <div class="form-group">
              <label for="dataInicio">Responsável:</label>
              <select formControlName="identificador_responsavel">
                <option *ngFor="let colaborador of colaboradores" [value]="colaborador.identificador_usuario">
                  {{colaborador.nome_completo}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="progresso">Progresso:</label>
              <input type="number" id="progresso" formControlName="progresso">
            </div>
            <div class="form-group">
              <label for="impedimentos">Impedimentos:</label>
              <input type="text" id="impedimentos" formControlName="impedimentos">
            </div>
            <button class="button-form" (click)="submitForm">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <table class="metas-table">
    <thead>
      <tr>
        <th>Nome da Etapa</th>
        <th>Etapa</th>
        <th>Data Fim</th>
        <th>Responável</th>
        <th>Progresso</th>
        <th>Impedimentos</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meta of metas; let i = index;">

        <!-- <pre>
          {{ metas | json}}
        </pre>  -->
        <td style="display: none;">{{ meta.identificador_etapa }}</td>
        <td>{{ meta.titulo_etapa }}</td>
        <td>{{ meta.descricao }}</td>
        <td>{{ meta.data_conclusao_prevista | date: 'dd/MM/yyyy' }}</td>
        <td>{{ encontrarNomeResponsavel(meta.identificador_responsavel) }}</td>
        <td>
          <div class="progress-container">
              <div class="progress-bar" [ngStyle]="getProgressBarStyle(meta.progresso)">
                  {{ meta.progresso || 0}}%
              </div>
          </div>
      </td>
        <td>{{ meta.impedimentos || 'Vou comprar um livro'}}</td>
        <td>{{ meta.status || 'em andamento'}}</td>
        <td>
          <div class="acoes-button">
            <button class="button-edit" (click)="editarEtapa( meta.identificador_etapa)">
              <span class="material-symbols-outlined">
                edit
              </span>
            </button>
            <button class="button-remove" (click)="removerEtapa( meta.identificador_etapa)">
              <span class="material-symbols-outlined">
                delete
              </span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="content_reports">
    <div class="reports">
      <h2 class="title_reports">Reports - Relatórios</h2>
      <textarea #textareaElement (input)="onInput(event)" required>
      </textarea>
    </div>
  </div>

</div>