<app-tela-navigation></app-tela-navigation>


<div class="tela-gerenciamento">
  <h2 class="title">Gerenciamento de Metas</h2>
  <table class="metas-table">
    <thead>
      <tr>
        <th>Nome da Sprint</th>
        <th>Meta</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Responável</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meta of metas; let i = index;">
        <td>{{ meta.nomeMeta }}</td>
        <td>{{ meta.meta }}</td>
        <td>{{ meta.dataInicio | date: 'dd/MM/yyyy' }}</td>
        <td>{{ meta.dataFim | date: 'dd/MM/yyyy' }}</td>
        <td>{{ meta.responsavel }}</td>
        <td>{{ meta.status }}</td>
        <td class="acoes-button">
          <button class="button-edit" (click)="editar(meta)">
            <span class="material-symbols-outlined">
              edit
            </span>
          </button>
          <button class="button-remove" (click)="remover(i)">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>