<mat-toolbar class="custom_toolbar">
    <span class="custom_title">Scrum Copilot</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" routerLink="/telaPrincipal">
        <mat-icon>
            <span class="button-logout" class="material-symbols-outlined">
                logout
            </span>
        </mat-icon>
    </button>
</mat-toolbar>

<div class="container">
    <h1 class="title">Bem-Vindo ao Nosso Projeto de Gerenciamento de Tarefas</h1>
    <p class="descricao">Nossa plataforma é o resultado de um esforço colaborativo de diversas mentes apaixonadas por
        produtividade e
        aprendizado. Aqui, você encontrará uma solução completa para gerenciar suas tarefas, estudar de maneira eficaz e
        manter-se conectado com outros estudantes e profissionais.</p>

    <h2 class="subtitle">Recursos Principais:</h2>
    <ul>
        <li class="descricao">
            <strong class="descricao_texto">Lista de Tarefas Personalizada:</strong> Com nosso sistema, você pode criar
            listas de tarefas
            personalizadas, projetadas para atender às suas necessidades únicas. Desde tarefas diárias até metas de
            longo prazo, oferecemos a flexibilidade para que você organize suas responsabilidades da maneira que
            preferir.
        </li>
        <li class="descricao">
            <strong class="descricao_texto">Gerenciamento de Sprint:</strong> Inspirado em metodologias ágeis, nossa
            plataforma permite que você
            crie sprints de estudo ou trabalho. Colabore com colegas, acompanhe o progresso, atribua tarefas e atinja
            seus objetivos de forma eficaz.
        </li>
        <li class="descricao">
            <strong class="descricao_texto">Barra de Progresso:</strong> Acompanhe o progresso das suas tarefas e
            sprints com nossa barra de
            progresso intuitiva. Visualize o quanto já realizou e mantenha-se motivado ao ver seus objetivos se
            aproximando.
        </li>
        <li class="descricao">
            <strong class="descricao_texto">Automatização com RPA:</strong> Nossa plataforma oferece a capacidade de
            automatização de tarefas
            repetitivas por meio da Robotic Process Automation (RPA). Isso permite que você economize tempo, eliminando
            trabalhos manuais e repetitivos.
        </li>
        <li class="descricao">
            <strong class="descricao_texto">Chat em Grupo:</strong> Não estamos apenas construindo uma ferramenta,
            estamos construindo uma
            comunidade. Use nosso chat em grupo para se conectar com outros usuários, tirar dúvidas, compartilhar
            conhecimento e criar sprints colaborativas.
        </li>
    </ul>

    <p class="descricao">Estamos comprometidos em ajudá-lo a maximizar sua produtividade, alcançar seus objetivos e
        aprender de forma
        eficaz. Seja você um estudante, profissional ou qualquer pessoa em busca de uma solução completa para o
        gerenciamento de tarefas e aprendizado, estamos aqui para apoiar você em sua jornada.</p>

    <p class="descricao">Bem-vindo ao futuro do gerenciamento de tarefas e aprendizado. Junte-se a nós e comece a
        transformar suas metas
        em realidade!</p>
</div>

<h2>Nossa Equipe</h2>
<div class="conteudo">
    <div class="team-gallery">
        <img src="../../../../assets/img_1.jpeg" width="500px" alt="Nome da Pessoa 1">
    </div>
    <div class="team-gallery">
        <img src="../../../../assets/img_2.jpeg" width="535px" alt="Nome da Pessoa 2">
    </div>
    <div class="team-gallery">
        <img src="../../../../assets/img_3.jpeg" width="500px" alt="Nome da Pessoa 3">
    </div>
</div>

<div class="video_container">
    <h2 class="subtitle_video">Nossos Encontros</h2>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cIIQU7fZdLE?si=JjaOtUhns2IZjY2g"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>