.custom_toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3c8eb7;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
}

.custom_title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    gap: 10px;
}

.example-icon {
    font-size: 20px;
    color: red;

}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.descricao {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    color: #504e4e;
}

.subtitle {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.descricao_texto {
    font-size: 20px;
    color: #000000;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.subtitle_galery {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;

}

.team-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 10px;
}


.subtitle_video {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.container_video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video-container {
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 435px;
}

@media (min-width: 320px) {

    .box_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 66vh;
    }

    .custom_toolbar {
        width: 100%;
        padding: 20px;
        align-items: center;
    }

    .custom_title {
        font-size: 2rem;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }

    .title {
        font-size: 3rem;
        align-items: center;
        justify-content: center;
    }

    .descricao {
        font-size: 1.6rem;
        align-items: center;
        justify-content: center;
    }

    .descricao_texto {
        font-size: 1.9rem;
        align-items: center;
        justify-content: center;
    }

    .subtitle {
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
    }

    .team-gallery {
        width: 200px;
        font-size: 2rem;
    }

    .video-container {
        margin-left: 0;
        width: 380px;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 375px) {
        .box_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 68vh;
        }

        .custom_toolbar {
            width: 100%;
            padding: 20px;
            align-items: center;
        }

        .custom_title {
            font-size: 1.5rem;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
        }

        .title {
            font-size: 2rem;
            align-items: center;
            justify-content: center;
        }

        .descricao {
            font-size: 1.2rem;
            align-items: center;
            justify-content: center;
        }

        .descricao_texto {
            font-size: 1.5rem;
            align-items: center;
            justify-content: center;
        }

        .subtitle {
            font-size: 1.7rem;
            align-items: center;
            justify-content: center;
        }

        .subtitle_video {
            font-size: 1.7rem;
        }

        .subtitle_galery {
            font-size: 1.7rem;
        }

        .team-gallery {
            width: 300px;
            font-size: 1.4rem;
        }

        .video-container {
            margin-left: 0;
            width: 380px;
            height: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media (min-width: 768px) {
        .box_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .custom_toolbar {
            width: 100%;
            padding: 30px;
            align-items: center;
        }

        .custom_title {
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
        }

        .title {
            font-size: 1.5rem;
            align-items: center;
            justify-content: center;
        }

        .descricao {
            font-size: 1rem;
            align-items: center;
            justify-content: center;
        }

        .descricao_texto {
            font-size: 1.1rem;
            align-items: center;
            justify-content: center;
        }

        .subtitle {
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
        }

        .subtitle_video {
            font-size: 1.3rem;
        }

        .subtitle_galery {
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .team-gallery {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.4rem;
        }

        .video-container {
            margin-left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media (min-width: 1024px) {
        .box_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .custom_toolbar {
            width: 100%;
            padding: 30px;
            align-items: center;
        }

        .custom_title {
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
        }

        .title {
            font-size: 1.5rem;
            align-items: center;
            justify-content: center;
        }

        .descricao {
            font-size: 1rem;
            align-items: center;
            justify-content: center;
        }

        .descricao_texto {
            font-size: 1.1rem;
            align-items: center;
            justify-content: center;
        }

        .subtitle {
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
        }

        .subtitle_video {
            font-size: 1.6rem;
        }

        .subtitle_galery {
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .team-gallery {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.4rem;
        }

        .video-container {
            margin-left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

@media (min-width: 1440px) {
    .box_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .custom_toolbar {
        width: 100%;
        padding: 30px;
        align-items: center;
    }

    .custom_title {
        font-size: 1.7rem;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 100%;
        height: 100%;
    }

    .title {
        font-size: 1.7rem;
        align-items: center;
        justify-content: center;
    }

    .descricao {
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
    }

    .descricao_texto {
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .subtitle {
        font-size: 1.8rem;
        align-items: center;
        justify-content: center;
    }

    .subtitle_video {
        font-size: 1.6rem;
    }

    .subtitle_galery {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-gallery {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.8rem;
    }

    .video-container {
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}