<header>
    <div class="header-wrapper">
        <h1 class="title">Scrum Copilot</h1>
        <form class="form">
            <input placeholder="E-mail" type="email" required>
            <input type="{{ visible ? 'text' : 'password' }}" [(ngModel)]="password" placeholder="Senha">
            <span (click)="viewPassword()"
                [ngClass]="visible ? 'material-symbols-outlined' : 'material-symbols-outlined' ">
                {{ visible ? 'visibility' : 'visibility_off' }}
            </span>

            <button routerLink="/home">Entrar</button>
            <button routerLink="/telaCadastro">Criar Conta</button>
            <a href="#">Esqueceu a senha?</a>
        </form>
    </div>
</header>