header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    /* position: relative; */
    margin-bottom: 80px;
}

.header-wrapper {
    width: 500px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 4px #000;
}


.form {
    display: flex;
    flex-direction: column;
}

.box_input {
    position: relative;
    width: 100%;
}

.input_email {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.input_password {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}

input:focus {
    background-color: #f5f5f5;
}

.box_icon {
    position: absolute;
    width: 100%;
    top: 14px;
    left: 93%;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
}

.material-symbols-outlined {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    /* right: 15px;
    margin-top: 68px;
    margin-right: 500px;
    top: 100px; */

}

button {
    background-color: #52abd3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem 0;
}

button:hover {
    background-color: #3c8eb7;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #887f7f;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a:hover {
    color: blue;

}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
}


@media (min-width: 320px) {
    header {
        margin-top: 30px;
        margin-bottom: 130px;
        padding: 9px;
        margin-left: 25px;
        /* margin: 10px; */
    }

    .title {
        font-size: 1.3rem;
    }

    .box_icon {
        left: 87%;
    }

    @media (min-width: 375px) {
        header {
            margin-top: 50px;
            margin-bottom: 150px;
            padding: 9px;
            margin-left: 30px;
            width: 100%;
        }

        .title {
            font-size: 1.6rem;
        }

        .box_icon {
            left: 89%;
        }
    }

    @media (min-width: 768px) {
        header {
            margin-top: 40px;
            margin-bottom: 150px;
            padding: 9px;
        }

        .title {
            font-size: 1.8rem;
        }

        .box_icon {
            left: 93%;
        }
    }

    @media (min-width: 1024px) {
        header {
            margin-top: 60px;
            margin-bottom: 50px;
            width: 95%;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .title {
            font-size: 1.8rem;
        }

        .box_icon {
            left: 93%;
        }
    }

    @media (min-width: 1440px) {
        header {
            margin-top: 60px;
            margin-bottom: 150px;
            width: 95%;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .title {
            font-size: 1.8rem;
        }

        .box_icon {
            left: 93%;
        }
    }
}