* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    margin-bottom: 75px;
}

.header-wrapper {
    width: 500px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 4px #000;
}


.form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

input:focus {
    background-color: #f5f5f5;
}


.material-symbols-outlined {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    position: absolute;
    right: 15px;
    margin-top: 68px;
    margin-right: 500px;
    top: 100px;

}

button {
    background-color: #52abd3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem 0;
}

button:hover {
    background-color: #3c8eb7;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #887f7f;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
}


@media screen and (min-width: 320px) {
    header {
        margin-top: 20px;
        margin-bottom: 300px;
    }
    
    .header-wrapper {
        max-width: 100%; /* Largura total da tela em telas menores */
        padding: 20px; /* Redução do preenchimento para telas menores */
    }

    .material-symbols-outlined {
        margin-right: 10px;
        top: 73px;
    }


    .title {
        font-size: 1.9rem;
    }

    @media screen and (min-width: 360px) {
        header {
            margin-top: 100px;
            margin-bottom: 160px;
        }
    
        .header-wrapper {
            width: 500px;
            max-width: 100%; /* Largura total da tela em telas maiores */
            padding: 50px;
        }
    
        .material-symbols-outlined {
            margin-right: 168px;
            top: 100px;
        }
    
        .title {
            font-size: 2rem;
        }
    }

    @media screen and (min-width: 640px) {
        header {
            margin-top: 100px;
            margin-bottom: 160px;
        }
    
        .header-wrapper {
            width: 500px;
            max-width: 100%; /* Largura total da tela em telas maiores */
            padding: 50px;
        }
    
        .material-symbols-outlined {
            margin-right: 168px;
            top: 100px;
        }
    
        .title {
            font-size: 2rem;
        }
    }

    @media screen and (min-width: 1360px) {
        header {
            margin-top: 70px;
            margin-bottom: 35px;
        }
    
        .header-wrapper {
            width: 500px;
            max-width: 100%; /* Largura total da tela em telas maiores */
            padding: 50px;
        }
    
        .material-symbols-outlined {
            margin-right: 463px;
            top: 100px;
        }
    
        .title {
            font-size: 2rem;
        }
    }
}