<app-tela-navigation></app-tela-navigation>

<div class="popup-container" *ngIf="isPopupVisible">
    <div class="box_container">
        <div class="container">
            <span class="close-button" (click)="closePopup()"><i class="fa-solid fa-circle-xmark"></i></span>
            <h2 class="title">Metas</h2>
            <form [formGroup]="meuFormulario" (ngSubmit)="submitForm()">
                <div class="form-row">
                    <div class="form-group">
                        <label for="meta">Meta:</label>
                        <input type="text" id="meta" formControlName="titulo_meta">
                    </div>
                    <div class="form-group">
                        <label for="nomeMeta">Nome da Sprint:</label>
                        <input type="text" id="nomeMeta" formControlName="descricao">
                    </div>
                    <div class="form-group">
                        <label for="dataInicio">Data Início:</label>
                        <input type="date" id="dataInicio" formControlName="data_inicio">
                    </div>
                    <div class="form-group">
                        <label for="dataFim">Data Fim:</label>
                        <input type="date" id="dataFim" formControlName="data_conclusao_prevista">
                    </div>
                    <button class="button-form" (click)="submitForm">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="button_popup">
    <img class="img_popup" src="../../../../assets/lista.jpg" width="100px" alt="">
    <h3 class="title_popup">Crie suas metas e monitore em tempo real!</h3>
    <button (click)="openPopup()"><i class="fa-solid fa-plus"></i></button>
</div>

<table class="metas-table" *ngIf="metaSalva">
    <thead>
        <tr>
            <th>Nome da Sprint</th>
            <th>Meta</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let meta of metas; let i = index">
            <td style="display: none;">{{ meta.identificador_meta }}</td>
            <td>{{ meta.titulo_meta }}</td>
            <td>{{ meta.descricao }}</td>
            <td>{{ meta.data_inicio | date: 'dd/MM/yyyy' }}</td>
            <td>{{ meta.data_conclusao_prevista | date: 'dd/MM/yyyy' }}</td>
            <td class="acoes-button">
                <button class="button-edit" (click)="editar(meta.identificador_meta)">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
                <button class="button-save" (click)="salvar()">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                </button>
                <button class="button-remove" (click)="remover(meta.identificador_meta)">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
</table>