.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    width: 0 auto;
    height: 100%;
    margin-bottom: 120px;
}

.box {
    padding: 10px;
    align-items: center;
    margin: 5px;
    position: relative;
}


label {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 3px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

input:focus {
    background-color: #f5f5f5;
}


.box-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 35px;
    width: 50%;
    font-size: 17px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #52abd3;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

button:hover {
    background-color: #3c8eb7;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media (min-width: 320px) {
    .container {
        margin-top: 50px;
        margin-bottom: 120px;
        padding: 9px;
        /* margin: 10px; */
    }

    .title {
        font-size: 1.4rem;
    }

    .box_icon {
        left: 87%;
    }

    @media (min-width: 375px) {
        header {
            margin-top: 50px;
            margin-bottom: 150px;
            padding: 9px;
            margin-left: 30px;
            width: 100%;
        }

        .title {
            font-size: 1.6rem;
        }

        .box_icon {
            left: 89%;
        }
    }

    @media (min-width: 768px) {
        .container {
            margin-top: 40px;
            margin-bottom: 150px;
            padding: 9px;
        }

        .title {
            font-size: 1.8rem;
        }

        .box_icon {
            left: 93%;
        }
    }

    @media (min-width: 1024px) {
        .container {
            margin-top: 30px;
            margin-bottom: 100px;
            width: 100%;
        }

        .title {
            font-size: 1.9rem;
        }

        .box_icon {
            left: 93%;
        }
    }

    @media (min-width: 1440px) {
        .container {
            margin-top: 60px;
            width: 100%;
        }

        .title {
            font-size: 1.8rem;
        }

        .box_icon {
            left: 93%;
        }
    }
}