<div class="container">
    <h2 class="title">Resetar Senha</h2>
    <form class="form" [formGroup]="resetSenhaForm" (ngSubmit)="onSubmit">
        <div class="box">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="Digite seu e-mail">
        </div>
        <div class="box">
            <label>Nova senha</label>
            <input type="{{ visible ? 'text' : 'password' }}" formControlName="password" placeholder="Digite sua senha">
            <span (click)="viewPassword()"
                [ngClass]="visible ? 'material-symbols-outlined' : 'material-symbols-outlined' ">
                {{ visible ? 'visibility' : 'visibility_off' }}
            </span>
        </div>
        <div>

        </div>
        <div class="box">
            <label>Confirme a senha</label>
            <input type="{{ closeVisible ? 'text' : 'password' }}" formControlName="password"
                placeholder="Confirme sua senha" type="password">
            <span (click)="closePassword()"
                [ngClass]="closeVisible ? 'material-symbols-outlined' : 'material-symbols-outlined'">
                {{ closeVisible ? 'visibility' : 'visibility_off' }}
            </span>
        </div>
        <div class="box-button">
            <button class="button" type="submit" (click)="singIn()" routerLink="/home">Enviar</button>
        </div>
    </form>
</div>